{#{{ dump() }}#}
{% set base = 'singlesPage' %}
<section class="{{ base }}">
    <div class="container">
        <article>
            <img alt="{{ image.alt }}" src="{{ image.url }}">
            <h1>{{ title }}</h1>
            <div class="{{ base }}__content">{{ content }}</div>
        </article>
    </div>
</section>
