@mixin font-primary {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

@mixin font-secondary {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

@mixin font-accent {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}