{#{{ dump() }}#}
{% set base = 'archivePost' %}
<section class="{{ base }}">
    <div class="container">
        {% for post in posts %}
            {#{{ dump(post) }}#}
            <article>
                <figure>
                    <img src="{{ post.image.src }}" alt="{{ post.image.alt }}">
                </figure>
                <a href="{{ post.link }}">
                    <h3>{{ post.title }}</h3>
                </a>
                <div class="{{ base }}__content">{{ post.excerpt }}</div>
            </article>
        {% endfor %}
    </div>
</section>
